#CommentInput {
  padding: 0;
  position: relative;
  background-color: $coolgray;

  textarea {
    height: 85px;
    width: 85%;
    margin: 0;
    border: none;
    background-color: $coolgray;
  }

  button {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
}