@import '_variables';

.mainWrapper {
  position: relative;

  .MainContainer {
    padding: 50px 50px 0 50px;
    overflow: visible;   // working?
    position: relative;

    h1 {
      color: $navy;
      font-size: 3rem;
      margin: 20px 0 30px 0;
      font-family: $display;
    }

    .right-align-btns {
      display: flex;
      justify-content: flex-end;

      button {
        margin-bottom: 15px;
        box-shadow: 0px 2px 5px;
      }
    } 

    .MainContainer-content {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  footer {
    width: 100vw;
    height: 150px;
    margin: 75px 0 0 0;
    padding: 50px;
    text-align: center;
    background-color: #555b6e;
    color: $peach;
    // position: absolute;
    // bottom: 0px;

    a:hover {
      color: $coolwhite;
      transition: color 500ms;
    }
  }
}

@media only screen and (min-width: 825px) {
  .MainContainer {
    width: 90vw;
    padding: 50px 0 50px 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .MainContainer {
    width: 83vw;
  }
}

@media only screen and (min-width: 1200px) {
  .MainContainer {
    width: 75vw;
  }
}