@import '_variables';

.MainContainer {
  padding: 50px 50px 0 50px;
  height: fit-content;
  position: relative;
  flex: 1;
  overflow-y: auto;

  h1 {
    color: $navy;
  }

  .right-align-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-bottom: 15px;
      box-shadow: 0px 2px 5px;
    }
  } 

  .MainContainer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (min-width: 825px) {
  .MainContainer {
    width: 90vw;
    padding: 50px 0 50px 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .MainContainer {
    width: 83vw;
  }
}

@media only screen and (min-width: 1200px) {
  .MainContainer {
    width: 75vw;
  }
}