@import '_variables';

.ScrCreator {
  margin: 0 0 30px 0;
  padding: 10px 20px;
  width: 100%;
  border: lightgray 1px solid;
  box-shadow: 0px 2px 5px;

  #title-input {
    width: 72%;
    margin-right: 3%;
  }

  #genre-input {
    width: 25%;
  }

  textarea {
    height: 200px;
  }

  button {
    margin: 5px 0 0 0 !important;
  }
}