@import '_variables';

.Scription {
  margin: 20px 10px 75px 10px;
  background-color: $brightwhite;
  position: relative;

  div:not(.abcjs-inline-audio) {
    padding: 10px;
    border: 1px solid lightgray;
  }

  .Scription-comments {
    // padding: 0;
    // border: none;
  }

  p {
    border: none;
    padding: 0;
    margin-bottom: 10px;
    border: none;
  }

  .username {
    color: $navy;
    font-weight: 600;
  }

  .timestamp {
    color:  lighten($navy, 25%);
    font-weight: 400;
    float: right;
  }

  .scription-btns {
    padding: 5px 10px;
    box-shadow: 0px 1px 3px;
  }

  .liked:hover {
    background-color: $peach;
  }


  .Scription-likes {
    display: flex;
    justify-content: space-between;
  }
}