@import '_variables';

.ScrCreator {
  margin: 0 0 30px 0;
  padding: 10px 20px;
  width: 100%;
  border: lightgray 1px solid;
  box-shadow: 0px 2px 5px;

  #title-input {
    width: 72%;
    margin-right: 3%;
  }

  #genre-input {
    width: 25%;
  }

  textarea {
    height: 200px;
  }

  button {
    margin: 5px 0 0 0 !important;
  }

  #widget {
    button {
      appearance: button;
      -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: -internal-light-dark(black, white);
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: center;
      align-items: flex-start;
      cursor: default;
      background-color: rgb(239, 239, 239), rgb(59, 59, 59);
      box-sizing: border-box;
      margin: 0em;
      font: 400 13.3333px Arial;
      padding: 1px 6px;
      border-width: 2px;
      // border-style: outset;
      border-color: rgb(118, 118, 118), rgb(133, 133, 133);
      border-image: initial;
    }
  }

  small {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
}