@import '_variables', '_MainContainer', '_Navbar', '_Feed', '_Scription';

// CSS reset

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// my styles

html {
  height: 100vh;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  // background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.2rem;
  background-color: $coolwhite;
  position: relative;
  font-family: $sans;
  color: lighten($navy, 10%);
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: darken($lightteal, 20%);
  }
}

button {
  background-color: $peach;
  color: $navy;
  border: none;
  font-size: 1rem;
  padding: 8px 16px;
  display: block-inline;

  &:hover {
    background-color: darken($peach, 5%);
    transition: background-color 500ms;
  }

  &:active {
    outline: none;
  }
}

// footer {
//   width: 100vw;
//   margin: 75px 0 0 0;
//   padding: 50px;
//   text-align: center;
//   background-color: #555b6e;
//   color: $peach;
//   position: absolute;
//   bottom: 0px;

//   a:hover {
//     color: $coolwhite;
//     transition: color 500ms;
//   }
// }
